<nav
  class="navbar navbar-expand-md navbar-dark fixed-top"
  style="background-color: rgb(0, 48, 121)"
>
  <div class="container">
    <a class="navbar-brand nameapp" routerLink="/">Dating App</a>

    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    > 
      <span class="navbar-toggler-icon"></span>
    </button>-->

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/members"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/lists"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/messages">
            Messages</a
          >
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/errors">
          Errors</a
        >
      </li>
    </ul>

    <!-- <div class="dropdown btn-group" appDropdown>
      <button type="button" class="dropdown-toggle text-light">
        Welcome user
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <div *ngIf="accountService.currentUser$ | async" class="btn-group dropdown" appDropdwon>
      <span style="color: aliceblue;" type="button" class="dropdown-toggle">
        Welcome user
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu">
        <li>
          <a>Edit Profile</a>
        </li>
        <li style="border: 3px solid green">
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
      </div> -->

    <div
      style="cursor: pointer"
      *ngIf="(accountService.currentUser$ | async) as user"
      class="navbar-nav mr-6"
    >
      <ng-container>
          <img src="{{user.photoUrl}}" alt="{{user.username}}"/>

        <li class="nav-item">
          <a routerLink="/member/edit" class="nav-link">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li></ng-container
      >
    </div>

    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
